<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/books.css}" />
    </head>
  <body>
    <header>
      <div>
        <img src="images/books2.jpg" alt="STSM logo" title="STSM logo" 
             th:src="@{/images/books2.jpg}" th:alt-title="#{title.application}"/>
      </div>
      <div id="bookshelf">
        <h1>BOOKSHELF</h1>
        <form th:action="@{/books}"><button>Books</button></form>
        <form th:action="@{/authors}"><button>Authors</button></form>
        <form th:action="@{/genres}"><button>Genres</button></form>
      </div>
    </header>
    <form th:object="${mod_genre}" method="POST" th:action="@{'/genres/update/'+${mod_genre.id}}">
      <h2>Add new genre</h2>
      <fieldset>
        <legend>New genre</legend>
        <div>
          <label for="name">Name</label>
          <input id="name" type="text" th:field="*{name}" th:text="*{name}" />
          <span class="validation_error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
          <label for="parent">Parent</label>
          <select th:field="*{parent}" id="parent">
            <option th:text="root" th:value="null"></option>
            <option th:each="genrei : ${all_genres}" th:value="${genrei.id}" th:text="${genrei.name}"></option>
          </select>
          <span class="validation_error" th:if="${#fields.hasErrors('parent')}" th:errors="*{parent}"></span>
        </div>
        <div class="submit">
          <button type="submit" name="save">Add</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>
